header .navbar {
    margin-bottom: 20px;
}
footer .navbar {
    position: fixed;
    bottom: 0;
    width: 100%;
}
form h1 {
    margin-bottom: 30px;
}

.container .row {
    margin-bottom: 30px;
}
.container .row .myCard {
    margin: 0px 5px 10px 5px;
}